<%- include('../partials/head', {
    pageTitle: 'Registrarse',
    cssLink: 'href="/css/productCart2.css" '
})%>

    <body>

        <!------------ HEADER------------------- -->
        <%- include('../partials/headerSearchBar')%>

    <main>
        <form action="">
          <section class="register-container">
                    <!-- --------------------LEFT CONTAINER--------------------------- -->
                <div class="left-container">
                        <img class="logo-left-container" src="/img/logo_negro.svg ">
                        <div class="tittle-container">
                            <h1>Datos de contacto</h1>
            
                          
                        </div>

                        <div class="form-container-input <%= locals.errors && errors.name? 'input-data-wrong':null %>">
                            
                            <% if (userInCart) { %>
                             
                                <span><%= userInCart.name %></span>
                            <% }else{ %>
                                <span>Nombre:</span>
                                <% } %>
                        </div>
                        <div class="form-container-input <%= locals.errors && errors.name? 'input-data-wrong':null %>">
                            <% if (userInCart) { %>
                             
                                <span><%= userInCart.email %></span>
                            <% }else{ %>
                                <span>Email:</span>
                                <% } %>
                        </div>
                           
            
            
                    </div>
                    <!-- --------------------RIGHT CONTAINER--------------------------- -->
             <div class="right-container">
                     <div class="right-container-content">
                        <a href="/" class="back-button"><span>Volver</span></a>
                
            
                <!---------------------- PRODUCT SECTION ------------------------->
                <section class="productsInCart">
              
                    <% if (Storage) { %>

                        <%  console.log('sotarge!!!!') %> 

                     <% } else  { %>
                      

                        <div class="productImage">
                            <img src="/uploads/products/<%= productDetail.image1 %> " alt="">
                            <!-- <h1>test</h1> -->
                        </div>
                        <div class="productDetail">
                            <div class="leftDetail">

                    <% }%>
                     
                                    
                 <!---------------------- PRODUCT NAME ------------------------->
                                    <span class="productName">
                                        <%= productDetail.name %>
                                    </span>
            
            
              <!---------------------- PRODUCT SIZE ------------------------->
                                    <% if (productDetail.size.length > 0) {  %>
            <% productDetail.size.forEach(oneSize => { %>

                                    <span class="productSize">
                                        Talle:  <%=oneSize.name %>
                                    </span>

                                    <% }); %>
                                    <% }; %>
            
               <!---------------------- PRODUCT COLOR ------------------------->
               <% if (productDetail.color.length > 0) { %>

                <div class="input-product-color">
                  
                    <div class="colorContainer">
                        <% productDetail.color.forEach((oneColor)=>{%>
                            <input type="checkbox" class="checkbox" name="a<%= oneColor.id%>" id="<%= oneColor.name %>" value="<%= oneColor.id %>"><label for="<%= oneColor.name %>"><div class="red"> </div></label>
                        <% }); %>

                    </div>
                </div>
                <% } %> 
                    </div>
                      <!---------------------- PRODUCT PRICE------------------------->
                              <div class="rightDetail">
                                <span class="productPrice">
                                   $ <%= productDetail.price %>
                                </span>
               <!---------------------- PRODUCT DELETE ------------------------->
                                <span class="productCartDelete">
                                    Quitar
                                </span>
                                <span>
                                </span>
                            </div>
                </section>

                 <!---------------------- COST CALCULATION SECTION ------------------------->        
                        <section class="costCalculation">
                         
                            <div class="costCalculation-container">
                                <div class="costDetail">
                                    <span class="subtotal">
                                        Subtotal:
                                    </span>
                                    <span class="subtotal">
                                        Envío:
                                    </span>
                                
                                </div>
                                <div class="costPrice">
                                   <span id="subTotal" class="subtotal">
                                       $ <%= productDetail.price %>
                                   </span>
                                   <span id="deliveryCost" class="subtotal">
                                       $ 600
                                   </span>
                                </div>
                            </div>

                             <div class="totalCost">
                                <span>
                                    Total:
                                 </span>
                                <span id="totalPrice">
                                   
                                    $ <%= productDetail.price %>
                                 </span>

                             </div>
                       </section>

                  
                       <div class="btn-container">

                                   
                        <button class="btn-edit"  type="submit">Comprar producto
                        
                        </button>
                   
              
                  
                <form action="#" method="">
                   <button class="btn-delete" type="submit">Cancelar</button>
                </form>
                </div>
                       

                 </div>
             </div>
          </section>

         </form>
    </main>

            <%- include('../partials/footer2')  %>
            <script src="/js/detailProduct.js"></script>
            <script src="/js/navBarMobile.js"></script>
            <!-- <script src="/js/indexCart.js"></script> -->
           <script src="/js/productCart2.js"></script> 
 </body>

 </html>