

<%- include('../partials/head', {
    pageTitle: 'Crear producto',
    cssLink: 'href="/css/createProduct.css" '
})%>


    <%- include('../partials/header2')%>

    <main>

        <div class="backButton">
            <a href="/"><span>Volver</span></a>
        </div>

        <div class="headForm">
            <span class="tituloForm">Crear producto:</span>
            <span class="ayudaCrearProducto">Selecciona el elemento que quieras modificar</span>
        </div>
    
            <form action="/products/" method="post" enctype="multipart/form-data">
            
            

                <div class="menuContainer" >
                    
            <!-- LEFT CONTAINER---------------------------- -->
                    <div class="leftContainer">

                        
                        

                            <label for="image-selection1">
                            <img src="\img\createProduct\insert-product-image.png" class="left-img-container">    
                            </label>

                            <input class="img-checkbox" type="file" id='image-selection1' accept="image/*,.pdf" name="img">

                            <label for="image-selection2">
                            <img src="\img\createProduct\insert-product-image.png" class="left-img-container">                                
                            </label>

                            <input class="img-checkbox" type="file" id='image-selection2' accept="image/*,.pdf" name="img2">

                            <label for="image-selection3">
                            <img src="\img\createProduct\insert-product-image.png" class="left-img-container">
                            </label>

                            <input class="img-checkbox" type="file" id='image-selection3' accept="image/*,.pdf" name="img3">

                    </div>

                    <!-- MIDDLE CONTAINER--------------------- -->
                    <div class="middleContainer">
                        <div class="middle-img-container">
                        <input class="img-checkbox" type="file" id='image-selection4' accept="image/*,.pdf" name="img4">

                            <label for="image-selection4">
                                <img src="\img\createProduct\insert-product-image.png">
                            </label>
                        
                          </div>
                
                
                    </div>

                <!-- RIGHT CONTAINER--------------------------- -->

                    <div class="rightContainer">

                            <input type="text" class="input-product-name" placeholder="Nombre del producto"
                            name="productName" required>

                            <div class="contenedor-precio">
                                <span class='signo-precio'>$</span>
                                <input type="number" class="input-product-price" min='0 ' step="0.01" placeholder="1700"
                                name="productPrice" required>
                                
                            </div>
                            <div class="contenedor-precio">
                                <span class='signo-precio'>%</span>
                                <input type="number" class="input-product-price" min='0 ' max='100' placeholder="Tiene descuento del..."
                                name="productDiscount" >
                            
                                
                            </div>

                            <span class="product-description">Descripción:</span>

                            <textarea class="input-description" name="productDescription" id="" cols="30" rows="10" placeholder="Escribe la descripción..." required></textarea  >

                            <!-- TALLE------------------------------- -->
                            <div class="input-product-size">
                                <SPAN >Talle: </SPAN>
                                
                                        <div class="sizeContainer">
                                            <select name="size" id="" required multiple size="0">
                                                <option value="" disabled selected>Seleccionar Talle</option>
                                                <% size.forEach(oneSize => { %>
                                                    <option value="<%= oneSize.id %>" class="check-product-size"><%= oneSize.name %></option>
                                                <% }); %>
                                            </select> 
<!-- 
                                                <input type="checkbox" class="checkbox" name="sizeProductXS" id="sizeXS" value = "1"><label for="sizeXS" class="check-product-size" >XS</label>
                                                <input type="checkbox" class="checkbox" name="sizeProductS" id="sizeS" value = "2"><label for="sizeS" class="check-product-size" >S</label>
                                                <input type="checkbox" class="checkbox" name="sizeProductM" id="sizeM" value = "3"><label for="sizeM" class="check-product-size" >M</label>
                                                <input type="checkbox" class="checkbox" name="sizeProductL" id="sizeL" value = "4"><label role="button" for="sizeL" class="check-product-size" >L</label>
                                                <input type="checkbox" class="checkbox" name="sizeProductXL" id="sizeXL" value = "5"><label for="sizeXL" class="check-product-size" >XL</label>  -->                                                           
                                        </div>
                            </div>

                                    <!-- COLOR-------------------------- -->
                        <div class="input-product-color">
                            <SPAN >Color</SPAN>
                            <div class="colorContainer">
                                <% color.forEach((oneColor)=>{%> 
                                    <input type="checkbox" class="checkbox" name="a<%= oneColor.id%>" id="<%= oneColor.name %>" value="<%= oneColor.id %>"><label for="<%= oneColor.name %>"><div class="red"> </div></label>
                                <% }); %>
<!--                                 <input type="checkbox" class="checkbox" name="colorProductwhite" id="colorWhite"><label for="colorWhite"><div class="white"> </div></label>
                                <input type="checkbox" class="checkbox" name="colorProductred" id="colorRed"><label for="colorRed"><div class="red"></div></label>
                                <input type="checkbox" class="checkbox" name="colorProductblue" id="colorBlue"><label for="colorBlue"><div class="blue"> </div></label>
                                <input type="checkbox" class="checkbox" name="colorProductgreen" id="colorgreen"><label for="colorgreen"><div class="green"> </div></label>
                                <input type="checkbox" class="checkbox" name="colorProductyellow" id="coloryellow"><label for="coloryellow"><div class="yellow"> </div></label> -->
                            </div>
                        </div>
                    
                        <!-- CATEGORIA------------------------- -->
                        <div class="input-product-category">
                            <SPAN > </SPAN>
                            <div class="categoryContainer">
                                <select name="category" id="" required>
                                    <option value="" disabled selected>Seleccionar categoria</option>
                                    <% category.forEach(oneCategory => { %>
                                    <option value="<%= oneCategory.id %>"><%= oneCategory.name %></option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                        

                            <button class="btn-add" type="submit">Crear producto</button>

                        

                    </div>

                </div>


            </form>


    </main>

    <script src="/js/createEditProducts.js"></script>
</body>
</html>

