

<%- include('../partials/head', {
    pageTitle: 'Crear producto',
    cssLink: 'href="/css/createEdit.css" '
})%>

<body>
    <%- include('../partials/headerSearchBar')%>

    <main>

        <div class="create-container">
            <div class="backButton">
                <a href="/"><span>Volver</span></a>
            </div>
            <div class="headForm">
                <span class="tituloForm">Crear producto:</span>
                <span class="ayudaCrearProducto">Selecciona el elemento que quieras modificar</span>
            </div>
                <form action="/products/" method="post" enctype="multipart/form-data" id="form">
            
            
                    <div class="menuContainer" >
            
                <!-- LEFT CONTAINER---------------------------- -->
                        <div class="leftContainer">
            
            
                                <label for="image-selection1">
                                <img src="\img\createProduct\insert-product-image.png" class="left-img-container" id="image2">
                                </label>
                                <input class="img-checkbox" type="file" id='image-selection1'  name="image2">
                                <label for="image-selection2">
                                <img src="\img\createProduct\insert-product-image.png" class="left-img-container" id="image3">
                                </label>
                                <input class="img-checkbox" type="file" id='image-selection2'  name="image3">
                                <label for="image-selection3">
                                <img src="\img\createProduct\insert-product-image.png" class="left-img-container" id="image4">
                                </label>
                                <input class="img-checkbox" type="file" id='image-selection3'  name="image4">
                                
                        </div>
                        
                        <!-- MIDDLE CONTAINER--------------------- -->

                        <div class="middleContainer">
                            <div class="middle-img-container">
                            <input class="img-checkbox" type="file" id='image-selection4' name="image1">
                                <label for="image-selection4">
                                    <img id="image1" src="\img\createProduct\insert-product-image.png">
                                </label>

                            </div>
                            <span class="text-category-danger" id="image1Error"><%= locals.errorImages ? errorImages:""%><%= locals.errors && errors.image1?errors.image1.msg:""%></span>
                            <span class="text-category-danger" id="image2Error"><%= locals.errors && errors.image2?errors.image2.msg:""%></span>
                            <span class="text-category-danger" id="image3Error"><%= locals.errors && errors.image3?errors.image3.msg:""%></span>
                            <span class="text-category-danger" id="image4Error"><%= locals.errors && errors.image4?errors.image4.msg:""%></span> 

                        </div>
                        
                    <!-- RIGHT CONTAINER--------------------------- -->
                    
                    <!-- NAME  ------------------------------- -->
                        <div class="rightContainer">

                                <div>
                                    <div class="contenedor-precio <%= locals.errors && errors.productName?'input-data-wrong':null %>" id="name">
                                        <span class='signo-precio'></span>
                                        <input type="text" class="input-product-price" placeholder="Nombre del producto"
                                        name="productName" value="<%= locals.oldData && oldData.productName? oldData.productName:""%>">
                                    
                                    </div>
                                    <span class="text-danger"><%= locals.errors && errors.productName? errors.productName.msg:""%></span>
                                </div>
                    <!-- PRICE  ------------------------------- --> 
                                    <div>
                                        <div class="contenedor-precio <%= locals.errors && errors.productPrice?'input-data-wrong':null %>" id="price">
                                            <span class='signo-precio'>$</span>
                                            <input type="number" class="input-product-price" placeholder="1700"
                                            name="productPrice" value="<%= locals.oldData && oldData.productPrice? oldData.productPrice:""%>" >
                                        </div>
                                        <span class="text-danger" id="errorPrice"><%= locals.errors && errors.productPrice? errors.productPrice.msg:""%></span>
                                    </div>
                    <!-- DISCOUNT  ------------------------------- -->

                                <div class="contenedor-precio">
                                    <span id="discountsign" class='signo-precio'>%</span>
                                    <input type="number" class="input-product-price"  min='0' max='100' placeholder="Tiene descuento del..."
                                    name="productDiscount" value="<%= locals.oldData && oldData.productDiscount? oldData.productDiscount:""%>">
                                </div>


                <!-- DESCRIPTION   ------------------------------- -->
                                <div>
                                    <span class="input-product-category " id="descriptionTitle">Descripción:</span>
                                    <textarea class="input-description <%= locals.errors && errors.productDescription?'input-description-error':'' %>" name="productDescription" id="" cols="50" rows="30" placeholder="Escribe la descripción..." ><%= locals.oldData && oldData.productDescription? oldData.productDescription:""%> </textarea>
                                    <span class="text-danger"><%= locals.errors && errors.productDescription? errors.productDescription.msg:""%></span>
                                </div>


                                <!-- TALLE------------------------------- -->
                                <div class="input-product-category">

            
                                            <div class="categoryContainer <%= locals.errors && errors.size?'input-data-wrong':null %>">
                                                <select name="size" id="">
                                                    <option value="" disabled selected>Seleccionar Talle</option>
                                                    <% size.forEach(oneSize => { %>
                                                        <option value="<%= oneSize.id %>" class="check-product-size"
                                                            <%= locals.oldData && oldData.size? oldData.size == oneSize.id? "selected" :"" :""    
                                                                %>><%= oneSize.name %></option>
                                                    <% }); %>
                                                </select> 
                                                <!--
                                                    <input type="checkbox" class="checkbox" name="sizeProductXS" id="sizeXS" value = "1"><label for="sizeXS" class="check-product-size" >XS</label>
                                                    <input type="checkbox" class="checkbox" name="sizeProductS" id="sizeS" value = "2"><label for="sizeS" class="check-product-size" >S</label>
                                                    <input type="checkbox" class="checkbox" name="sizeProductM" id="sizeM" value = "3"><label for="sizeM" class="check-product-size" >M</label>
                                                    <input type="checkbox" class="checkbox" name="sizeProductL" id="sizeL" value = "4"><label role="button" for="sizeL" class="check-product-size" >L</label>
                                                    <input type="checkbox" class="checkbox" name="sizeProductXL" id="sizeXL" value = "5"><label for="sizeXL" class="check-product-size" >XL</label>  -->
                                                    <span class="text-category-danger" id ="errorSize"><%= locals.errors && errors.size? errors.size.msg:""%></span>
                                            </div>
                                </div>
                                            
                                        <!-- COLOR-------------------------- -->
                            <div>
                                <div class="input-product-color ">
                                    <SPAN >Color: </SPAN>
                                    <div class="colorContainer <%=locals.errorColor?'input-data-wrong':null %> ">
                                        <% color.forEach((oneColor)=>{%>
                                            <input type="checkbox" class="checkbox" name="a<%= oneColor.id%>" id="<%= oneColor.name %>" value="<%= oneColor.id %>"><label for="<%= oneColor.name %>"><div class="red"> </div></label>
                                        <% }); %>
                                    </div>
                                </div>
                                <span class="text-danger" id="errorColors"><%= locals.errorColor? errorColor:""%></span>
                            
                            </div>

                            <!-- CATEGORIA------------------------- -->
                            <div class="input-product-category ">
                                <div class="categoryContainer <%=locals.errors && errors.category?'input-data-wrong':null %>" id="categoria">
                                    <select name="category" id="" >
                                        <option value="" disabled selected>   
                                            Seleccionar categoría</option>
                                        <% category.forEach(oneCategory => { %>
                                        <option value="<%= oneCategory.id %>"
                                            <%= locals.oldData && oldData.category? oldData.category == oneCategory.id? "selected" :"" :"" %>
                                            ><%= oneCategory.name %></option>
                                        <% }); %>
                                    </select>
                                    <span class="text-category-danger" id ="errorCategory"><%= locals.errors && errors.category? errors.category.msg:""%></span>
                                </div>
                            </div>
                                <button class="btn-add" type="submit">Crear producto</button>
            
                        </div>
                    </div>
                </form>
        </div>

    </main>
    <script src="/js/createProduct.js"></script>
    <script src="/js/createEditProducts.js"></script>
    <script src="/js/navBarMobile.js"></script>
    <script src="/js/indexCart.js"></script>
</body>
</html>

