

<%- include('../partials/head', {
    pageTitle: 'Editar producto',
    cssLink: 'href="/css/createEdit.css" '
})%>

<body>
    <%- include('../partials/headerSearchBar')%>

    <main>

        <div class="create-container">
            <div class="backButton">
                <a href="/"><span>Volver</span></a>
            </div>
            <div class="headForm">
                <span class="tituloForm">Editar producto:</span>
                <span class="ayudaCrearProducto">Selecciona el elemento que quieras modificar</span>
            </div>
                <form class="formContainer" id="form-edit-product" action="/products/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="menuContainer" >
            
                <!-- LEFT CONTAINER---------------------------- -->
                        <div class="leftContainer">
            
            
                                <label for="image-selection1">
                                <img src="/uploads/products/<%= product.image2 %> " class="left-img-container">
                                </label>
                                <input class="img-checkbox" type="file" id='image-selection1' accept="image/*,.pdf .jpg .jpeg .gif" name="image2">
                                <label for="image-selection2">
                                <img src="/uploads/products/<%= product.image3 %> " class="left-img-container">
                                </label>
                                <input class="img-checkbox" type="file" id='image-selection2' accept="image/*,.pdf .jpg .jpeg .gif" name="image3">
                                <label for="image-selection3">
                                <img src="/uploads/products/<%= product.image4 %> " class="left-img-container">
                                </label>
                                <input class="img-checkbox" type="file" id='image-selection3' accept="image/*,.pdf .jpg .jpeg .gif" name="image4">
                        </div>

                        <!-- MIDDLE CONTAINER--------------------- -->

                        <div class="middleContainer">
                            <div class="middle-img-container">
                            <input id='image-selection4' class="img-checkbox" type="file"  accept="image/*,.pdf .jpg .jpeg .gif" name="image1">
                                <label for="image-selection4">
                                    <img  src="/uploads/products/<%= product.image1 %> ">
                                </label>
                                
                            </div>

                   
                             
                                <div id="input-data-wrong-container" class="input-data-wrong-off" >
                                    <div 
                                    class="text-danger">
                                     
                                    </div>
                                </div>
                        
            
            
                        </div>
                        
                    <!-- RIGHT CONTAINER--------------------------- -->

                    
                            <!-- NAME  ------------------------------- -->
                        <div class="rightContainer">

                                <div class="contenedor-precio">
                                    <input value="<%= product.name %>" type="text" class="input-product-price"
                                    name="productName" >
                                    <span id="spanMsgError" class="text-danger"></span>
                                </div>

                            <!-- PRICE  ------------------------------- -->

                                <div class="contenedor-precio">
                                    <span class='signo-precio'>$</span>
                                    <input type="number" value="<%= product.price %>"  class="input-product-price" min='0 ' 
                                    name="productPrice" >
                                    
                                    <span id="spanMsgError" class="text-danger"></span>

                                    
                                </div>

                                 <!-- DISCOUNT  ------------------------------- -->

                                <div class="contenedor-precio">
                                    <span class='signo-precio'>%</span>
                                    <input value="<%= product.discount %>" type="number" class="input-product-price" min='0' max='100' placeholder="<%= product.discount %>"
                                    name="productDiscount" >
            
                                    <!-- <span id="spanMsgError" class="text-danger"></span> -->
                                </div>

                                <!-- DESCRIPTION   ------------------------------- -->

                                <span class="input-product-category" id="descriptionTitle">Descripción:</span>
                                <textarea class="input-description" name="productDescription" id="" cols="50" rows="50" ><%= product.description %></textarea  >

                                <span id="spanMsgError" class="text-danger"></span>
                                    

                                <!-- SIZE------------------------------- -->
                                
                                    <div class="input-product-category">
                                        
                                        <span >Talle: </span>
                                         <div class="categoryContainer">


                                                    <select name="size" id=""  >
                                                    <% if (product.size[0]) { %>
                                                        <option value=" <%= product.size[0].id%>" disabled selected>
                                                        <%= product.size[0].name %>
                                                        </option>
                                                    <% }else{ %>
                                                        <option value="" disabled selected>
                                                            Seleccionar talle
                                                        </option>
                                                    <% } %>
                                                        <% size.forEach(oneSize => { %>
                                                            <option value="<%= oneSize.id %>" class="check-product-size"><%= oneSize.name %></option>
                                                        <% }); %>
                                                    </select> 
                                                    <span id="spanMsgError" class="text-category-danger"></span>
                                         </div>
                                    </div>
                                    
                                        <!-- COLOR-------------------------- -->
                                

                                        <div class="input-product-color">
                                            <SPAN >Color: </SPAN>
                                            <div class="colorContainer">
                                                <% color.forEach((oneColor)=>{%>
                                                    <input type="checkbox" class="checkbox" name="a<%= oneColor.id%>" id="<%= oneColor.name %>" value="<%= oneColor.id %>"> 
                                                    <label for="<%= oneColor.name %>"><div class="red"> </div></label>
                                                    <% }); %>
                                                   
                                               
                                            </div>
                                        </div>
                                        <span id="colorMsgError" class="text-danger"></span>
                                     
                                 
            
                            <!-- CATEGORIA------------------------- -->
                            <div class="input-product-category">
                                <SPAN >Categoria: </SPAN>
                                <div class="categoryContainer">

                                 <% if (product.category) { %>    
                                    <select name="category" id="" >
                                        <option value="<%= product.category.name %>" disabled selected> 
                                            <%= product.category.name %></option>
                                        <% category.forEach(oneCategory => { %>
                                        <option value="<%= oneCategory.id %>">
                                            <%= oneCategory.name %></option>
                                        <% }); %>
                                    </select>
                                    <span id="spanMsgError" class="text-danger"></span>
                                <% }else{ %> 

                                    <select name="category" id="" >
                                        <option value="" disabled selected>Seleccionar categoria</option>
                                        <% category.forEach(oneCategory => { %>
                                        <option value="<%= oneCategory.id %>">
                                            <%= oneCategory.name %></option>
                                        <% }); %>
                                    </select>
                                    <span id="spanMsgError" class="text-danger"></span>

                                    <% } %> 
                                 
                                </div>
                            </div>
            
                                <div class="btn-container">

                                   
                                        <button class="btn-edit"  type="submit">Editar producto
                                        
                                        </button>
                                   
                                </form>
                                  
                                <form action="/products/<%= product.id %>/?_method=DELETE" method="POST">
                                   <button class="btn-delete" type="submit">Eliminar producto</button>
                                </form>
                                </div>
                                
                            </div>
                        </div>
             
               
                </div>

    </main>

    <script src="/js/createEditProducts.js"></script>
    <script src="/js/editProducts.js"></script>
</body>
</html>

