

<%- include('../partials/head', {
    pageTitle: 'Crear producto',
    cssLink: 'href="/css/createProduct.css" '
})%>

<body>
    <%- include('../partials/headerSearchBar')%>

    <main>

        <div class="create-container">
            <div class="backButton">
                <a href="/"><span>Volver</span></a>
            </div>
            <div class="headForm">
                <span class="tituloForm">Editar producto:</span>
                <span class="ayudaCrearProducto">Selecciona el elemento que quieras modificar</span>
            </div>
                <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="menuContainer" >
            
                <!-- LEFT CONTAINER---------------------------- -->
                        <div class="leftContainer">
            
            
                                <label for="image-selection1">
                                <img src="/uploads/products/<%= product.image2 %> " class="left-img-container">
                                </label>
                                <input class="img-checkbox" type="file" id='image-selection1' accept="image/*,.pdf" name="image2">
                                <label for="image-selection2">
                                <img src="/uploads/products/<%= product.image3 %> " class="left-img-container">
                                </label>
                                <input class="img-checkbox" type="file" id='image-selection2' accept="image/*,.pdf" name="image3">
                                <label for="image-selection3">
                                <img src="/uploads/products/<%= product.image4 %> " class="left-img-container">
                                </label>
                                <input class="img-checkbox" type="file" id='image-selection3' accept="image/*,.pdf" name="image4">
                        </div>

                        <!-- MIDDLE CONTAINER--------------------- -->

                        <div class="middleContainer">
                            <div class="middle-img-container">
                            <input class="img-checkbox" type="file" id='image-selection4' accept="image/*,.pdf" name="image1">
                                <label for="image-selection4">
                                    <img src="/uploads/products/<%= product.image1 %> ">
                                </label>
            
                              </div>
            
            
                        </div>
                        
                    <!-- RIGHT CONTAINER--------------------------- -->

                        <div class="rightContainer">
                                <input value="<%= product.name %>" type="text" class="input-product-name" placeholder="<%= product.name %>"
                                name="productName" required>

                                <div class="contenedor-precio">
                                    <span class='signo-precio'>$</span>
                                    <input value="<%= product.price %>" type="number" class="input-product-price" min='0 ' step="0.01" placeholder="<%= product.price %>"
                                    name="productPrice" required>
            
                                </div>

                                <div class="contenedor-precio">
                                    <span class='signo-precio'>%</span>
                                    <input value="<%= product.discount %>" type="number" class="input-product-price" min='0 ' max='100' placeholder="<%= product.discount %>"
                                    name="productDiscount" >
            
            
                                </div>
                                <span class="input-product-category" id="descriptionTitle">Descripción:</span>
                                <textarea class="input-description" name="productDescription" id="" cols="50" rows="30" ><%= product.description %></textarea  >
                                    

                                <!-- TALLE------------------------------- -->
                                
                                    <div class="input-product-category">
                                        <SPAN >Talle: </SPAN>
                
                                                <div class="categoryContainer">
                                                    <select name="size" id=""  >
                                                    <% if (product.size[0]) { %>
                                                        <option value=" <%= product.size[0].id%>" disabled selected>
                                                        <%= product.size[0].name %>
                                                        </option>
                                                    <% }else{ %>
                                                        <option value="" disabled selected>
                                                            Seleccionar talle
                                                        </option>
                                                    <% } %>
                                                        <% size.forEach(oneSize => { %>
                                                            <option value="<%= oneSize.id %>" class="check-product-size"><%= oneSize.name %></option>
                                                        <% }); %>
                                                    </select> 
            
                                                </div>
                                    </div>
                                    
                                        <!-- COLOR-------------------------- -->
                                    <div class="input-product-color">
                                        <SPAN >Color: </SPAN>
                                        <div class="colorContainer">
                                            <% color.forEach((oneColor)=>{%>
                                                <input type="checkbox" class="checkbox" name="a<%= oneColor.id%>" id="<%= oneColor.name %>" value="<%= oneColor.id %>"><label for="<%= oneColor.name %>"><div class="red"> </div></label>
                                            <% }); %>
                                        </div>
                                    </div>
            
                            <!-- CATEGORIA------------------------- -->
                            <div class="input-product-category">
                                <SPAN >Categoria: </SPAN>
                                <div class="categoryContainer">
                                    <select name="category" id="" >
                                        <option value="<%= product.category.name %>" disabled selected> <%= product.category.name %></option>
                                        <% category.forEach(oneCategory => { %>
                                        <option value="<%= oneCategory.id %>"><%= oneCategory.name %></option>
                                        <% }); %>
                                    </select>
                                </div>
                            </div>
            
                                <div class="btn-container">

                                    <button class="btn-add" type="submit">Editar producto</button>

                                    
                                </div>
                                
                            </div>
                        </div>
                    </form>
                    <form action="/products/<%= product.id %>/?_method=DELETE" method="POST">
                        <button class="btn-add" type="submit">Eliminar producto</button>
                    </form>
                </div>

    </main>

    <script src="/js/createEditProducts.js"></script>
</body>
</html>

