

<%- include('../partials/head', {
    pageTitle: 'Editar producto',
    cssLink: 'href="/css/createEdit.css" '
})%>

<body>
    <%- include('../partials/headerSearchBar')%>

    <main>

        <div class="create-container">
            <div class="backButton">
                <a href="/"><span>Volver</span></a>
            </div>
            <div class="headForm">
                <span class="tituloForm">Editar producto:</span>
                <span class="ayudaCrearProducto">Selecciona el elemento que quieras modificar</span>
            </div>
            <form class="formContainer" id="form-edit-product" action="/products/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

                <div class="menuContainer" >
            
                 <!-- LEFT CONTAINER---------------------------- -->
                        <div class="leftContainer">
            
            
                                <label for="image-selection1">
                                <img src="/uploads/products/<%= product.image2 %> " class="left-img-container" id="aimage2">
                                </label>
                                <input class="img-checkbox" type="file" id='image-selection1' accept="image/*,.pdf .jpg .jpeg .gif" name="image2">
                                <label for="image-selection2">
                                <img src="/uploads/products/<%= product.image3 %> " class="left-img-container" id="aimage3">
                                </label>
                                <input class="img-checkbox" type="file" id='image-selection2' accept="image/*,.pdf .jpg .jpeg .gif" name="image3">
                                <label for="image-selection3">
                                <img  src="/uploads/products/<%= product.image4 %> " class="left-img-container" id="aimage4">
                                </label>
                                <input class="img-checkbox" type="file" id='image-selection3' accept="image/*,.pdf .jpg .jpeg .gif" name="image4">
                        </div>

                        <!-- MIDDLE CONTAINER--------------------- -->

                        <div class="middleContainer">
                            <div class="middle-img-container">
                            <input id='image-selection4' class="img-checkbox" type="file"  accept="image/*,.pdf .jpg .jpeg .gif" name="image1">
                                <label for="image-selection4">
                                    <img id="aimage1"  src="/uploads/products/<%= product.image1 %> ">
                                </label>
                                
                            </div>

                                <div id="input-data-wrong-container" class="input-data-wrong-off" >
                                    <div 
                                    class="text-danger">
                                    </div>
                                </div>
                                <span class="text-category-danger" id="image1Error"><%= locals.errorImages ? errorImages:""%><%= locals.errors && errors.image1?errors.image1.msg:""%></span>
                                <span class="text-category-danger" id="image2Error"><%= locals.errors && errors.image2?errors.image2.msg:""%></span>
                                <span class="text-category-danger" id="image3Error"><%= locals.errors && errors.image3?errors.image3.msg:""%></span>
                                <span class="text-category-danger" id="image4Error"><%= locals.errors && errors.image4?errors.image4.msg:""%></span>
            
            
                        </div>
                        
                    <!-- RIGHT CONTAINER--------------------------- -->

                    
                            <!-- NAME  ------------------------------- -->
                        <div class="rightContainer">
                                <div>
                                 
                                    <div class="contenedor-precio <%=locals.errors && errors.productName?'input-data-wrong': null %>" id="name">
                                        <span class='signo-precio'></span>
                                        <input value="<%=locals.errors && errors.productName?oldData.productName:product.name %>" type="text" class="input-product-price"
                                        name="productName" >
                                    </div>
                                    <% if (locals.errors && errors.productName) { %>
                                        <span class="text-danger"><%= errors.productName.msg %> </span>
                                    <% } %>
                                    <span id="spanMsgError" class="text-danger"></span>
                                </div>

                            <!-- PRICE  ------------------------------- -->

                                <div>
                                    <div class="contenedor-precio  <%=locals.errors && errors.productPrice?'input-data-wrong': null %>" id="price">
                                        <span class='signo-precio'>$</span>
                                        <input type="number" value="<%=locals.errors && errors.productPrice?oldData.productPrice:product.price %>"  class="input-product-price" min='0'
                                        name="productPrice" >
                                    
                                    </div>
                                    <% if (locals.errors && errors.productPrice) { %>
                                        <span class="text-danger"><%= errors.productPrice.msg %> </span>
                                    <% } %>
                                    <span id="spanMsgError" class="text-danger"></span>
                                </div>

                                 <!-- DISCOUNT  ------------------------------- -->
                                    <div>
    
                                    <div class="contenedor-precio">
                                        <span class='signo-precio'>%</span>
                                        <input value="<%= product.discount %>" type="number" class="input-product-price" min='0' max='100' 
                                        name="productDiscount" >
                                    </div>
    
                                     <span id="spanMsgError" class="text-danger"></span>
                                    </div>

                                <!-- DESCRIPTION   ------------------------------- -->

                                <div>
                                    <span class="input-product-category" 
                                    id="descriptionTitle">Descripción:</span>
                                    <textarea class="input-description" style= 'border:none'<%=locals.errors && errors.productDescription? 'border:red 1px solid': null %>  name="productDescription" id="" cols="50" rows="50" ><%=locals.errors && errors.productDescription?oldData.productDescription:product.description %></textarea  >

                                        <% if (locals.errors && errors.productDescription) { %>
                                            <span class="text-danger"><%= errors.productDescription.msg %> </span>
                                        <% } %>
                                    <span id="spanMsgError" class="text-danger"></span>
                                </div>
                                    

                                <!-- SIZE------------------------------- -->
                                
                                    <div class="input-product-category">
                                        
                                        <span >Talle: </span>
                                         <div class="categoryContainer <%=locals.errors && errors.size?'input-data-wrong': null %>">


                                                    <select name="size" id=""  >
                                                    <% if (product.size[0]) { %>
                                                        <option value=" <%= product.size[0].id%>" >
                                                            
                                        
                                                        <%= product.size[0].name %>
                                                        </option>
                                                        <% size.forEach(oneSize => { %>
                                                            <option value="<%= oneSize.id %>" class="check-product-size"><%= oneSize.name %></option>
                                                        <% }); %>
                                                    <% }else{ %>
                                                        <option value="" disabled selected>
                                                            Seleccionar talle
                                                        </option>
                                                        <% size.forEach(oneSize => { %>
                                                            <option value="<%= oneSize.id %>" class="check-product-size"><%= oneSize.name %></option>
                                                        <% }); %>
                                                    <% } %>
                                                      
                                                    </select> 
                                                    <span id="spanMsgError" class="text-category-danger"></span>
                                         </div>
                                    </div>
                                    
                                        <!-- COLOR-------------------------- -->
                                        
                                        <% if (product.color[0]) { %>
                                        <div>
                                        <div class="input-product-color">
                                            <SPAN >Color: </SPAN>
                                            <div class="colorContainer">
                                                <% color.forEach((oneColor)=>{%>
                                                    <input type="checkbox" class="checkbox" name="a<%= oneColor.id%>" id="<%= oneColor.name %>" value="<%= oneColor.id %>">
                                                    <label for="<%= oneColor.name %>"><div class="red" style="background-color:' <%= oneColor.name %>'"> </div></label>
                                                    <% }); %>
                                        
                                        
                                            </div>
                                        </div>
                                        <span id="colorMsgError" class="text-danger"></span>
                                    </div>
                                    <% }else{ %>
                                        <div>
                                            <div class="input-product-color">
                                                <SPAN >Color: </SPAN>
                                                <div class="colorContainer">
                                                    <% console.log(color)%>
                                                    <% color.forEach((oneColor)=>{%>
                                                        <input type="checkbox" class="checkbox" name="a<%= oneColor.id%>" id="<%= oneColor.name %>" value="<%= oneColor.id %>">
                                                        <label for="<%= oneColor.name %>"><div class="red" style="background-color:' <%= oneColor.name %>'"> </div></label>
                                                        <% }); %>
                                            
                                            
                                                </div>
                                            </div>
                                            <span id="colorMsgError" class="text-danger"></span>
                                        </div>
                                <%  }   %> 
            
                            <!-- CATEGORIA------------------------- -->
                          
                          

                            <div class="input-product-category " >
                                <% if (product.category) { %>  
                               
                                <SPAN >Categoria: </SPAN>
                                <div class="categoryContainer  <%=locals.errors && errors.category?'input-data-wrong': null %>">

                                    <select name="category" id="" >
                                        
                                        <option value="  <%= product.category.id%>" > 

                                            <%= product.category.name %>
                                        
                                        </option>
                                      
                                        <% category.forEach(oneCategory => { %>
                                        <option value="<%= oneCategory.id %>">
                                            <%= oneCategory.name %>
                                           
                                        </option>
                                        <% }); %>

                                    

                                    </select>
                                    
                                    <% if (locals.errors && errors.category) { %>
                                        <span class="text-danger"><%= errors.productDescription.msg %> </span>
                                    <% } %>
                                  
                                 <% }else{ %> 

                                    <select name="category" id="" >
                                        <option value="">Seleccionar categoria</option>
                                        <% category.forEach(oneCategory => { %>
                                        <option value="<%= oneCategory.id %>">
                                            <%= oneCategory.name %></option>
                                        <% }); %>
                                    </select>
                                    <span id="spanMsgError" class="text-danger"></span>

                                    <% } %> 
                                 
                                </div>
                            </div>
                            
            
                            <div class="btn-container">

                                <button class="btn-edit"  type="submit">Editar producto
                                </button>
                        
                                </form> 
                                    <form action="/products/<%= product.id %>/?_method=DELETE" method="POST">
                                        <button class="btn-delete" type="submit">Eliminar producto</button>

                                    </form>

                                  

                            </div>
                                
                        </div>
                </div>
             
          
        </div>

    </main>

    <script src="/js/createEditProducts.js"></script>
    <script src="/js/editProducts.js"></script>
    <script src="/js/navBarMobile.js"></script>
  

</body>
</html>

