<%- include('../partials/head', {
    pageTitle: 'Editar producto',
    cssLink: 'href="/css/editProduct.css" '
})%>
<body>

    <%- include('../partials/header')%>

    <main>


        <div class="backButton">
            <a href="/"><span>Volver</span></a>
        </div>

        <div class="headForm">
            <span class="tituloForm">Editar producto:</span>
            <span class="ayudaCrearProducto">Selecciona el elemento que quieras modificar</span>
        </div>
    
            <form action="/products/<%= editProduct.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

                <div class="menuContainer" >
                    
            <!-- LEFT CONTAINER  ACA SE CAMBIAN LAS IMAGENES DE LA IZQUIERDA---------------------------- -->
                    <div class="leftContainer">
                        <input class="img-checkbox"        type="file" id='img2' accept="image/*,.pdf" name="img2">

                        <label for="img2">
                        <img src='/uploads/products/<%=editProduct.img2 %>'  alt="Hoddie front" class="left-img-container">    
                        </label>

                        </input>

                        <input class="img-checkbox" type="file" id='img3' accept="image/*,.pdf" name="img3">

                        <label for="img3">
                        <img src='/uploads/products/<%=editProduct.img3 %>' alt="Hoddie back" class="left-img-container">    
                        </label>
                        </input>

              

                        <!-- <input class="img-checkbox" type="file" id='image-selection' accept="image/*,.pdf">

                            <label for="image-selection">
                            <img src="\img\createProduct\insert-product-image.png" alt="Jeans apilados" class="left-img-container">
                            </label>
                        </input> -->
                    
                    </div>

                    <!----------- MIDDLE CONTAINER  ACA SE EDITA LA IMAGEN CENTRAL--------------------- -->
                    <div class="middleContainer">
                        <div class="middle-img-container">
                                <input class="img-checkbox" type="file" id='img'accept="image/*,.pdf" name="img">
                                   
                                    
                                    <label for="img">
                                        <img src='/uploads/products/<%=editProduct.img %>' alt="Inserte imagen del producto"  >
                                </input>
                        </div>
                
                
                    </div>
<!-- ------------------------------------------------------------- -->
                <!-- RIGHT CONTAINER ACA SE EDITAN LOS DATOS DEL PRODUCTO--------------------------- -->

                    <div class="rightContainer">

                            <input type="text" class="input-product-name" placeholder="Hoddie Infinite" 
                            name="name" value="<%= editProduct.name %> " required>

                            <div class="contenedor-precio">
                                <span class='signo-precio'>$</span>
                                <input type="number" class="input-product-price" min='0 ' value=<%= parseInt(editProduct.price) %>
                                name="price" required>
                              
                            </div>
                            <div class="contenedor-precio">
                                <span class='signo-precio'>%</span>
                                <input type="number" class="input-product-price" min='0 ' max='100' value="<%= parseInt(editProduct.discount) %>"
                                name="discount" >
                            
                                
                            </div>

                            <label for="descripcion"><span class="product-description">Descripción:</span></label>
                            
                            <textarea class="input-description" name="longDescription" id="descripcion" cols="30" rows="10" required> <%=editProduct.longDescription %> </textarea  >

                            <!-- TALLE------------------------------- -->
                            <div class="input-product-size">
                                <SPAN >Talle: </SPAN>
                                
                                        <div class="sizeContainer">
                                            <input type="checkbox" class="checkbox" name="size" id="sizeXS" value="XS"><label for="sizeXS" class="check-product-size" >XS</label>

                                            <input type="checkbox" class="checkbox" name="size" id="sizeS" value="S"><label for="sizeS" class="check-product-size" >S</label>

                                            <input type="checkbox" class="checkbox" name="size" id="sizeM" value="M"><label for="sizeM" class="check-product-size" >M</label>

                                            <input type="checkbox" class="checkbox" name="size" id="sizeL" value="L"><label role="button" for="sizeL" class="check-product-size" >L</label>

                                            <input type="checkbox" class="checkbox" name="size" id="sizeXL" value="XL"><label for="sizeXL" class="check-product-size" >XL</label>
                                
                                        </div>
                            </div>

                                    <!-- COLOR-------------------------- -->
                        <div class="input-product-color">
                            <SPAN >Color: </SPAN>
                            <div class="colorContainer">
                                <input type="checkbox" class="checkbox" name="color" id="colorWhite" value="White"><label for="colorWhite" class="check-product-color" ><div class="white"> </div></label>

                                <input type="checkbox" class="checkbox" name="color" id="colorRed" value="Red"><label for="colorRed" class="check-product-color" ><div class="red"> </div></label>

                                <input type="checkbox" class="checkbox" name="color" id="colorBlue" value="Blue"><label for="colorBlue" class="check-product-blue" ><div class="blue"> </div></label>

                                <input type="checkbox" class="checkbox" name="color" id="colorgreen" value="Green"><label for="colorgreen" class="check-product-green" ><div class="green"> </div></label>

                                <input type="checkbox" class="checkbox" name="color" id="coloryellow" value="Yellow"><label for="coloryellow" class="check-product-yellow" ><div class="yellow"> </div></label>
                            
                            </div>
                        </div>
                    
                        <!-- CATEGORIA------------------------- -->
                        <div class="input-product-category">
                            <SPAN >Categoría: </SPAN>
                            <div class="categoryContainer">
                                <select name="categories" id="categorias" required>
                                    <option value="Hoddies">Hoddies</option>
                                    <option value="Camisas">Camisas</option>
                                    <option value="Remeras">Remeras</option>
                                    <option value="Pantalones">Pantalones</option>
                                </select>
                            
                            </div>
                        </div>
                        
 <!-- ------------------------BOTONES----------------- -->
                                    <div class="botones">

                                        <form action="/products/<%= editProduct.id %>?_method=PUT" method="POST"><button class="btn-add" type="submit">Editar producto</button></form>

                                        <form action="/products/<%= editProduct.id %>?_method=DELETE" method='POST'><button class="btn-delete" type=>Eliminar producto</button></form>
                                    </div>

                    </div>

                </div>


            </form>


    </main>

    

</body>
</html>

