<%- include('../partials/head', {
    pageTitle: 'Hábito',
    cssLink: 'href="/css/index.css" '
})%>

 <body>


<!------------ HEADER------------------- -->
        <%- include('../partials/headerSearchBar')%>

  <!--------------- BANNER------------------- -->

        <%- include('../partials/banner')  %>
      
            <!-- Acá arranca el Main-->
            <main>
             
              <section class="products-container" >

                <h1 class="categories">Productos</h1>


                  <% for (let i = 0; i<productsList.length; i++) {%>
                    <a  href="/products/detail/<%=productsList[i].id%>">

                        <article class="product2" >

                            <div class="category-container">

                             <h1>  <%=productsList[i].categories%></h1>

                            </div>

                            <div class="img-container">
                                <img src="/uploads/products/default-image.png" alt="" >
                            </div>

                            <div class="product-info">

                                <div class="product-info-lef-container">

                                    <span class="product-name"> <%=productsList[i].name%></span>

                                    <!--<span class="product-price">
                                        $ <%=productsList[i].price%>
                                    </span> -->

                                </div >

                                <div class="product-info-right-container">
                                    <!--<span class="product-discount">
                                        <%=productsList[i].discount%> % OFF 
                                      </span> -->

                                </div>
                               

                                

                            </div>
                        </article>
                    </a>
                    <% } %>

                </section >

<!-- --------------------NEWSLETTER--------------------- -->
          <%- include('../partials/newsletter')  %>
             
<!-- --------------------FOOTER--------------------- -->
            </main>
            <%- include('../partials/footer2')  %>
    </body>

    </html>