<%- include('../partials/head', {
    pageTitle: 'Detalle de Producto',
    cssLink: 'href="/css/productDetail.css" '
})%>

    <body>
        <%- include('../partials/header')%>

            <main>

                <section class="product-detail">
                    <div class="product-detail-top">
                        <ul class="pictures-list">
                            <li><img src="<%= productDetail.img2 %> " alt="" width="140px"></li>
                            <li><img src="<%= productDetail.img3 %>" alt="" width="140px"></li>
                            <li><img src="<%= productDetail.img4 %>" alt="" width="140px"></li>
                            <li><img src="<%= productDetail.img5 %>" alt="" width="140px"></li>
                        </ul>
                        <img src="<%= productDetail.img %> " alt="" width="50%">
                        <div class="product-description">
                            <h3 class="product-name">
                                <%= productDetail.description %>
                            </h3>
                            <div class="off-price">
                                <p class="prices">
                                    <%= productDetail.price %>
                                </p>
                                <p class="off">
                                    <%= productDetail.discount %>
                                </p>
                            </div>
                            <p class="prod-text">
                                <%= productDetail.longDescription %>
                            </p>
                            <div class="characteristics">
                                <div class="size">
                                    <h6>Talle</h6>
                                    <p class="talle">XS</p>
                                    <p class="talle">S</p>
                                    <p class="talle">M</p>
                                    <p class="talle">L</p>
                                    <p class="talle">XL</p>
                                </div>
                                <div class="color">
                                    <h6>Color <i class="color-negro"><i class="fas fa-dot-circle" ></i></i><i class="color-verde"><i class="fas fa-dot-circle" ></i></i><i class="color-rojo"><i class="fas fa-dot-circle" ></i></i><i class="color-azul"><i class="fas fa-dot-circle" ></i></i>
                                    </h6>
                                </div>
                            </div>
                            <div class="botones-detail">
                                <a href="../edit/<%=productDetail.id  %> ">
                                    <div class="purchase">
                                        <h4>Editar</h4>
                                    </div>
                                </a>
                                <div class="purchase">
                                    <h4>Comprar</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="cond-devs">
                    <h6>Condiciones de compra y devoluciones</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iste libero optio! Quisquam doloremque corrupti, nam provident incidunt, unde qui itaque, quam culpa repellendus reprehenderit debitis non vel? Exercitationem, praesentium!</p>
                </div>

                <section class="sugerencias">
                    <h2>Sugerencias</h2>

                    <div class="sugerencias-separador-titulo">
                        <div class="next-prev">
                            <div class="prev">
                                <i class="fas fa-chevron-circle-left"></i>
                            </div>
                            <div class="next">
                                <i class="fas fa-chevron-circle-right"></i>
                            </div>
                        </div>
                        <article class="prod">
                            <img src="../../img/detalle_producto/img-remera-1.jpg" width="160px">
                            <div class="sugerencia-description">
                                <h3>Buzo Solvang</h3>
                                <div class="sugerencia-price">
                                    <p class="price-text">$12.500</p>
                                    <p>10% Off</p>
                                </div>
                            </div>
                        </article>
                        <article class="prod">
                            <img src="../../img/detalle_producto/img-producto-sugerencia2.jpg" alt="" width="142px">
                            <div class="sugerencia-description">
                                <h3>Conjunto Jongan</h3>
                                <div class="sugerencia-price">
                                    <p class="price-text">$17.000</p>
                                    <p>15% Off</p>
                                </div>
                            </div>
                        </article>
                        <article class="prod">
                            <img src="../../img/detalle_producto/img-remera-4.jpg" alt="" width="142px">
                            <div class="sugerencia-description">
                                <h3>Remera Shaza</h3>
                                <div class="sugerencia-price">
                                    <p class="price-text">$17.000</p>
                                    <p>15% Off</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>



                <nav class="newsletter">
                    <p class="newsletter-text">Suscribite a nuestro newsletter</p>
                    <div class="formulario-suscribe">
                        <form action="" class="email">
                            <input type="email" name="email" placeholder="hola@email.com" class="email-bar">
                            <p class="suscribe">Suscribirse</p>
                    </div>
                </nav>

            </main>

            <%- include('../partials/footer')  %>
    </body>

    </html>