<%- include('../partials/head', {
    pageTitle: 'Hábito',
    cssLink: 'href="/css/index.css" '
})%>

 <body>


<!------------ HEADER------------------- -->
    <%- include('../partials/headerSearchBar')%>

  <!--------------- BANNER------------------- -->

        <%- include('../partials/banner')  %>
      
            <!-- Acá arranca el Main-->
            <main>
             
              <section class="products-container" >

                <h1 class="categories">Resultado de la búsqueda</h1>


                  <% for (let i = 0; i<searchArray.length; i++) {%>
                    <a  href="/products/detail/<%=searchArray[i].id%>">

                        <article class="product2" >

                            <div class="category-container">

                             <h1>  <%=searchArray[i].categories%></h1>

                            </div>
 
                            <div class="img-container">
                                <img src="/uploads/products/<%=searchArray[i].image1%>" alt="<%=searchArray[i].name%>" >
                            </div>

                            <div class="product-info">

                                <div class="product-info-lef-container">

                                    <span class="product-name"> <%=searchArray[i].name%></span>

                                   <span class="product-price">
                                        $ <%=searchArray[i].price%>
                                    </span> 

                                </div >

                                <div class="product-info-right-container">
                                   <span class="product-discount">

                                       <% if (searchArray[i].discount>0) { %>
        
                                        <%=searchArray[i].discount%> % OFF 
                                       <% } %>

                                      </span> 

                                </div>
                            
                            </div>
                        </article>
                    </a>
                    <% } %>

                </section >

<!-- --------------------NEWSLETTER--------------------- -->
          <%- include('../partials/newsletter')  %>
             
<!-- --------------------FOOTER--------------------- -->
            </main>
            <%- include('../partials/footer2')  %>

            <script src="/js/navBarMobile.js"></script>
            <script src="/js/banner.js"></script>
    </body>

    </html>