<%- include('../partials/head', {
    pageTitle: 'Carrito',
    cssLink: 'href="/css/productCart2.css" '
})%>

    <body>

        <!------------ HEADER------------------- -->
        <%- include('../partials/headerSearchBar')%>

    <main>
        <form action="">
          <section class="register-container">
                    <!-- --------------------LEFT CONTAINER--------------------------- -->
                <div class="left-container">
                        <img class="logo-left-container" src="/img/logo_negro.svg ">
                        <div class="tittle-container">
                            <h1>Datos de contacto</h1>
            
                          
                        </div>

                        <div class="form-container-input <%= locals.errors && errors.name? 'input-data-wrong':null %>">
                            
                            <% if (userInCart) { %>
                             
                                <span><%= userInCart.name %></span>
                            <% }else{ %>
                                <span>Nombre:</span>
                                <% } %>
                        </div>
                        <div class="form-container-input <%= locals.errors && errors.name? 'input-data-wrong':null %>">
                            <% if (userInCart) { %>
                             
                                <span><%= userInCart.email %></span>
                            <% }else{ %>
                                <span>Email:</span>
                                <% } %>
                        </div>
                           
            
            
                    </div>
                    <!-- --------------------RIGHT CONTAINER--------------------------- -->
             <div class="right-container">
                     <div class="right-container-content">
                        <a href="/" class="back-button"><span>Volver</span></a>
                      
                      
                <!---------------------- PRODUCT SECTION ------------------------->
                    
                 <!---------------------- COST CALCULATION SECTION ------------------------->        
                        <section class="costCalculation">
                         
                            <div class="costCalculation-container">
                                <div class="costDetail">
                                    <span class="subtotal">
                                        Subtotal:
                                    </span>
                                    
                                    <span id="subTotalCost" class="subtotal">
                                     
                                    </span>
                                </div>
                                <div class="costPrice">
                                    <span class="subtotal">
                                        Envío:
                                    </span>
                                   <span id="deliveryCost" class="subtotal">
                                       $ 600
                                   </span>
                                </div>
                            </div>

                             <div class="totalCost">
                                <span>
                                    Total:
                                 </span>
                                <span id="totalCost"></span>

                             </div>
                       </section>

                  
                       <div class="btn-container">

                                   
                        <button class="btn-edit"  type="submit">Comprar producto
                        
                        </button>
                   
              
                    </form> 

                <form id="cancelCart" >
                   <button class="btn-delete" type="submit">Cancelar</button>
                </form>

                </div>
                       

                     </div>
             </div>
          </section>

      
    </main>

            <%- include('../partials/footer2')  %>
            <script src="/js/detailProduct.js"></script>
            <script src="/js/navBarMobile.js"></script>
            <script src="/js/cart.js"></script>
            <script src="/js/indexCart.js"></script>
           

 </body>

 </html>