

<%- include('../partials/head', {
    pageTitle: 'Detalle del Producto',
    cssLink: 'href="/css/productDetail2.css" '
})%>

<body>
    <%- include('../partials/headerSearchBar')%>

    <main>

        <div class="create-container">
            <div class="backButton">
                <a href="/products/list/<%= productDetail.categoryId %> "><span>Volver</span></a>
            </div>
            <div class="headForm">
                <span class="tituloForm">Detalle producto:</span>
            
            </div>
             
            
                    <div class="menuContainer" >
            
                <!-- LEFT CONTAINER---------------------------- -->
                        <div class="leftContainer">
            
            
                                <label for="image-selection1">
                                <img src="/uploads/products/<%= productDetail.image2 %> "class="left-img-container">
                                </label>
                               
                                <label for="image-selection2">
                                <img src="/uploads/products/<%= productDetail.image3 %> " class="left-img-container">
                                </label>
                              
                                <label for="image-selection3">
                                <img src="/uploads/products/<%= productDetail.image4 %> " class="left-img-container">
                                </label>
                               
                        </div>

                        <!-- MIDDLE CONTAINER--------------------- -->

                        <div class="middleContainer">
                            <div class="middle-img-container">
                       
                                <label for="image-selection4">
                                    <img src="/uploads/products/<%= productDetail.image1 %> ">
                                </label>
            
                              </div>
            
            
                        </div>
                        
                    <!-- RIGHT CONTAINER--------------------------- -->

                        <div class="rightContainer">

                            
                                <span id="id-product-name" class="input-product-name">
                                    <%= productDetail.name %>

                                </span>
                               
                                <div class="contenedor-precio">
                                    <span class='signo-precio'>$</span>
                                    <span id="price" class='signo-precio'><%= productDetail.price %> </span>
            
                                </div>

                                 <% if (productDetail.discount) { %>
                                  
                                    <div class="contenedor-precio">
                                        <span class='signo-precio'>%</span>
                                        <span class='signo-precio'><%= productDetail.discount %> </span>
                                   
                                    </div>
                                 <% } %> 

                                <span class="input-product-category" id="descriptionTitle">
                                    Descripción:
                                </span>
                                <textarea readonly class="input-description" name="productDescription" id="" cols="50" rows="30" placeholder="Escribe la descripción..." ><%= productDetail.description %></textarea  >


                                <!-- TALLE------------------------------- -->

                                <% if (productDetail.size.length > 0) { %>

                                <div class="input-product-category">
                                    <SPAN >Talle: </SPAN>
            
                                            <div class="categoryContainer">
                                               
                                          
                                                    <% productDetail.size.forEach(oneSize => { %>
                                                        <span class='signo-precio' >
                                                             <%=oneSize.name %>
                                                             </span>
                                                    <% }); %>
                                            
           
                                            </div>
                                </div>

                                <% } %> 

                                        <!-- COLOR-------------------------- -->

                                        <% if (productDetail.color.length > 0) { %>

                            <div class="input-product-color">
                                <SPAN >Color: </SPAN>
                                <div class="colorContainer">
                                    <% productDetail.color.forEach((oneColor)=>{%>
                                        <input type="checkbox" class="checkbox" name="a<%= oneColor.id%>" id="<%= oneColor.name %>" value="<%= oneColor.id %>"><label for="<%= oneColor.name %>"><div class="red"> </div></label>
                                    <% }); %>
           
                                </div>
                            </div>

                            <% } %> 

                            <% if (productDetail.category) { %>
            
                            <!-- CATEGORIA------------------------- -->
                            <div class="input-product-category">
                                <SPAN >Categoria: </SPAN>
                                <div class="categoryContainer">
                                
                                     
                                    <span class='signo-precio'>
                                        <%=productDetail.category.name %>
                                        </span>
                                     
                                 
                                </div>
                            </div >

                            <% } %> 
            
<!-- --------------------------------------------------------------------------------------------------- -->
                            <!-- ---------------------BUTTONS SECTION----------------- -->
                            <!-- ------------------------------------------------------ -->
                            <% if (locals.isAnUserLogged==false  ) { %>
                                     <%=console.log(locals.userData);  %> 
                                <div class="btn-container">
                                  
                                    <a href="../../products/cart" >
                                        <div id="btn-buy" class="btn-buy"  >
                                    
                                            Comprar producto

                                        </div>
                                    </a>

                                </div>

                               
                            
                            <% }else{%>


                                <% if (locals.userData.statusId==1) { %>
                                 

                                    <div class="btn-container">
                                        <!-- <a  href="../../products/cart" > -->
                                            <div id="btn-buy" class="btn-buy-admin  add-To-Cart-Container"  >
                                        
                                                Comprar producto
                                            </div>
                                        <!-- </a> -->

                                        <a href="/products/edit/<%= productDetail.id %>">
                                            <div class="btn-edit" >
                                            
                                                Editar producto

                                            </div>
                                        </a>
                                    </div>
    
                                
                                <% }else{ %>
                                    
                                     <div class="btn-container">

                                        <a href="../../products/cart">
                                            <div id="btn-buy" class="btn-buy" class="add-To-Cart-Container"  >
                                        
                                                Comprar producto
                                                
                                            </div>
                                        </a>
                                      
                                    </div>


                             <% }%>


                             <% }%>
                        </div>
                        
                    </div>
             
        </div>

    </main>

  
    <script src="/js/detailProduct.js"></script>
    <script src="/js/navBarMobile.js"></script>
    <script src="/js/cartDetailProduct.js"></script>
   
</body>
</html>

