<%- include('./partials/head', {
    pageTitle: 'Hábito',
    cssLink: 'href="/css/index.css" '
})%>

    <body>
        <%- include('./partials/header')%>
        <div class="bottom-container">
            <nav class="slider">
                <img src="img/CARROUSEL/img-carrousel-3.jpg" alt="Conjunto de Ropa" class="img3">
                <div>
                    <h1 class="copy-slider">Conocé el estilo de la temporada de verano</h1>
                    <div class="slider-botton-container">
                        <h4 class="slider-button">Ver Productos</h4>
                    </div>
                </div>
                <div class="next-prev">
                    <div class="prev">
                        <i class="fas fa-chevron-circle-left"></i>
                    </div>
                    <div class="next">
                        <i class="fas fa-chevron-circle-right"></i>
                    </div>
                </div>
            </nav>
        </div>
            <!-- Acá arranca el Main-->
            <main>
                <nav class="products">
                    <% for (let i = 0; i<products.length; i++) {%>
                        <article class="product-article">
                            <h2 class="categories">
                                <%=products[i].categories%>
                            </h2>
                            <a href="/products/detail/<%=products[i].id%>"><img src="<%=products[i].img%>" alt="" width="100%"> </a>
                            <div class="small-next-prev">
                                <div class="ante">
                                    <i class="fas fa-chevron-circle-left"></i>
                                </div>
                                <div class="sig">
                                    <i class="fas fa-chevron-circle-right"></i>
                                </div>
                            </div>
                            <a href="/productdetail">
                                <div class="product-description">
                                    <p class="product-name">
                                        <%=products[i].description%>
                                    </p>
                                    <div class="off-price">
                                        <p class="prices">
                                            <%=products[i].price%>
                                        </p>
                                        <p class="off">
                                            <%=products[i].discount%>
                                        </p>
                                    </div>
                                    <i class="free-shipping"><i class="fas fa-truck"></i></i>
                                </div>
                            </a>
                        </article>
                        <% } %>
                </nav>
                <nav class="newsletter">
                    <p class="newsletter-text">Suscribite a nuestro newsletter</p>
                    <div class="formulario-suscribe">
                        <form action="" class="email">
                            <input type="email" name="email" placeholder="hola@email.com" class="email-bar">
                            <p class="suscribe">Suscribirse</p>
                    </div>
                </nav>
            </main>
            <%- include('./partials/footer')  %>
    </body>

    </html>