<%- include('./partials/head', {
    pageTitle: 'Hábito',
    cssLink: 'href="/css/index.css" '
})%>

 <body>


<!------------ HEADER------------------- -->
        <%- include('./partials/headerSearchBar')%>

  <!--------------- BANNER------------------- -->

        <%- include('./partials/banner')  %>
      
            <!-- Acá arranca el Main-->
            <main>
             
              <section class="new-category-container" >

                <h1 class="new-category-title">Categorias</h1>


                  <% for (let i = 0; i<categories.length; i++) {%>

                 
                    <a  href="/products/list/<%=categories[i].id%>">

                        <article class="new-category-box"  >


                            <div class="category-left-box">

                            <div class="new-category-left-info"> 
                                  <span class="new-category-name"> <%=categories[i].name%></span>
                                <p class="new-category-description">
                                    <%=categories[i].description%>
                                </p>
                            </div>
                             
                       
                            </div>

                            <div class="category-right-box">

                                <div class="new-category-img-container">
                                    <img src="/uploads/products/<%=categories[i].image%>" alt="" >
                                </div>
                            </div>

                        
                     

                        </article>
                    </a>
                    <% } %>

                </section >

<!-- --------------------NEWSLETTER--------------------- -->
          <%- include('./partials/newsletter')  %>
             
<!-- --------------------FOOTER--------------------- -->
            </main>
            <%- include('./partials/footer2')  %>

            <!-- <script src="/js/navBarMobile.js"></script> -->
            
    </body>

    </html>