<%- include('./partials/head', {
    pageTitle: 'Hábito',
    cssLink: 'href="/css/index.css" '
})%>

 <body>


<!------------ HEADER------------------- -->
        <%- include('./partials/headerSearchBar')%>

  <!--------------- BANNER------------------- -->

        <%- include('./partials/banner')  %>
      
            <!-- Acá arranca el Main-->
            <main>
             
              <section class="products-container" >

                <h1 class="categories">Categorias</h1>


                  <% for (let i = 0; i<categories.length; i++) {%>

                 
                    <a  href="/products/list/<%=categories[i].id%>">

                        <article class="product2" >

                            <div class="category-container">

                             <h1>  <%=/*categories[i].name*/%></h1>

                            </div>

                            <div class="img-container">
                                <img src="./products/<%=categories[i].image%>" alt="" >
                            </div>

                            <div class="product-info">

                                <div class="product-info-lef-container">

                                    <span class="product-name"> <%=categories[i].name%></span>

                                    <!--<span class="product-price">
                                      $ <%= /*products[i].price*/%>
                                    </span> -->

                                </div >

                                <div class="product-info-right-container">
                                    <!--<span class="product-discount">
                                        <%=/*products[i].discount*/%> % OFF 
                                      </span> -->

                                </div>
                               

                                

                            </div>
                        </article>
                    </a>
                    <% } %>

                </section >

<!-- --------------------NEWSLETTER--------------------- -->
          <%- include('./partials/newsletter')  %>
             
<!-- --------------------FOOTER--------------------- -->
            </main>
            <%- include('./partials/footer2')  %>
    </body>

    </html>