<%- include('../partials/head', {
    pageTitle: 'Ingresar',
    cssLink: 'href="/css/login.css" '
})%>

    <body>
        <%- include('../partials/header2')%>

            <section class="form-container">

                <div class="close-x">
                    <a href="/"><i class="fas fa-times-circle"></i></a>
                </div>

                <div class="tittle">
                    <h1>Iniciar sesión</h1>

                </div>

                <nav class="register-navbar">

                    <h2>Usando:</h2>

                    <ul class="sessions-container-icons">
                        <li>

                            <img src="/img/icons/google.jpg" alt="">

                        </li>

                        <li>

                            <img src="/img/icons/facebook.png" alt="">
                        </li>

                        <li>

                            <img src="/img/icons/instagram.png" alt="">
                        </li>
                    </ul>



                    <div class="already-account">

                        <a href="/users/register2">
                            <h3 class="already-account-text">¿No tenés cuenta?</h3>
                        </a>



                    </div>
                </nav>
                <form class="form-container-bottom" action="/users/login" method="post">

                    <input class="form-container-input" type="email" name="email" placeholder="Usuario:" value="<%= locals.oldData ? oldData.email:null %>">
                    <% if (locals.errors && errors.email){%>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>
                        <% } %>

                            <input class="form-container-input" type="password" name="contrasenia" placeholder="Contraseña:">
                            <% if (locals.errors && errors.contrasenia){%>
                                <div class="text-danger">
                                    <%= errors.contrasenia.msg %>
                                </div>
                                <% } %>
                                    <div class="login">
                                        <a href=""><span class="sign-in">¿Olvidaste la contraseña?</span></a>
                                        <button class="submit-btn" type="submit">Iniciar sesión</button>
                                    </div>

                </form>
            </section>
            <!-- <main class="estructura">
            
              
              
                <div class="box-login">
                    <div class="position-x">
                        <a class="x" href="/"><i class="far fa-times-circle"></i></a>
                    </div>
                    <h2 class="size">Iniciá Sesión</h2>

                    <div class="box-buttons">

                        <div class="container-button">
                            <a class="button" href="https://www.instagram.com/
                    " target="_blank">
                                <i class="fab fa-instagram"> </i> Instagram
                            </a>
                        </div>

                        <div class="container-button">
                            <a class="button" href="https://www.facebook.com/
                    " target="_blank">
                                <i class="fab fa-facebook"> </i> Facebook
                            </a>
                        </div>

                        <div class="container-button">
                            <a class="button" href="https://mail.google.com/mail/u/0/#inbox
                    " target="_blank">
                                <i class="fab fa-google"></i> Google
                                </i>
                            </a>
                        </div>
                    </div>
                    <form action="/users/login" method="post" class="usuario">
                        <div class="container-inputs">
                            <br>
                            <input class="inputs-color" type="email" name="email" placeholder="Email" required>
                            <label for="usuario"></label>
                        </div>
                        <br>

                        <div class="container-inputs">
                            <input class="inputs-color" type="password" name="contrasenia" placeholder="Contraseña" required>
                            <label for="contraseña"></label>
                        </div>
                        <br>

                        <div class="container-password">
                            <a class="x" href="">¿Te olvidaste la contraseña?</a>
                            
                        </div>

                        <button class="button-sesion" type="submit">Iniciar Sesion</button>
                    </form>

                </div>

            </main>
            !-->
            <%- include('../partials/footer2')  %>
    </body>

    </html>