<%- include('../partials/head', {
    pageTitle: 'Ingresar',
    cssLink: 'href="/css/login.css" '
})%>

    <body>
        <%- include('../partials/headerSearchBar')%>

            <section class="form-container">

                <div class="back">
                
                    <a href="/">
                        <h2>Volver</h2>
                    </a>

                </div>

                <div class="tittle">
                    <h1>Iniciar sesión</h1>

                </div>

                <nav class="register-navbar">

                    <h2>Usando:</h2>

                    <ul class="sessions-container-icons">
                        <li>

                            <img src="/img/icons/google.jpg" alt="">

                        </li>

                        <li>

                            <img src="/img/icons/facebook.png" alt="">
                        </li>

                        <li>

                            <img src="/img/icons/instagram.png" alt="">
                        </li>
                    </ul>



                    <div class="already-account">

                        <a href="/users/register2">
                            <h3 class="already-account-text">¿No tenés cuenta?</h3>
                        </a>



                    </div>
                </nav>
                <form id = "login-form"class="form-container-bottom" action="/users/login" method="post">

                    <input  class="form-container-input <%= locals.errors && errors.email? 'input-data-wrong':null %>" type="email" name="email" placeholder="user@email.com:" value="<%= locals.oldData ? oldData.email:null %>">
                    <span></span>
                    <% if (locals.errors && errors.email){%>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>
                        <% } %>

                            <div class="pass-eye-container">
                                <input id="password-container" class="form-container-input <%= locals.errors && errors.password? 'input-data-wrong':null %>" type="password" name="password" placeholder="Contraseña:">
                                <span></span>
                                <% if (locals.errors && errors.password){%>
                                    <div class="text-danger">
                                        <%= errors.password.msg %>
                                    </div>
                                    <% } %>
                                    <span id="password-icon" class="material-icons-outlined">
                                        visibility
                                        </span>
                            </div>

                                <label class="remember-user" for="checkbox">
                                    <input type="checkbox" name="rememberUser" id="checkbox" class="remember-user-checkbox">Recordar usuario
                                </label>

                                    <div class="login">
                                        <a href=""><span class="sign-in">¿Olvidaste la contraseña?</span></a>
                                        <button class="submit-btn" type="submit">Iniciar sesión</button>
                                    </div>

                </form>
            </section>
         
            <%- include('../partials/footer2')  %>
            <script src="/js/login.js"></script>
            <script src="/js/register.js"></script>
            <script src="/js/navBarMobile.js"></script>
            <script src="/js/indexCart.js"></script>
            
    </body>

    </html>